* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content {
  width: 90%;
  max-width: 550px;
  margin: 50px auto;
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
}
body {
  background-color: whitesmoke;
}

.header {
  /* padding: 20px 15px; */
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.nav-bar {
  display: flex;
  gap: 20px;
}
.prompt-box {
  margin: 20px 0;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: fixed;
  display: none;
  justify-self: center;
  gap: 30px;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
}
.prompt-box i.fa-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.prompt-box h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.prompt-box input {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.prompt-box .add-button {
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.fb {
  padding: 9px 12px;
  border: 10px;
  border-radius: 6px;
  background-color: rgba(6, 3, 158, 0.822);
  color: white;
  cursor: pointer;
}
.fb:hover {
  background: rgb(41, 41, 131);
}
.sb {
  padding: 8px 12px;
  border: 10px;
  border-radius: 6px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.sb:hover {
  color: orange;
}
i.fa-check-circle-o {
  color: gray;
}
i.fa-trash-o {
  float: right;
  color: gray;
  font-size: 24px;
}
i.fa-check {
  float: right;
  color: gray;
  font-size: 24px;
  margin-right: 15px;
}

p {
  color: gray;
  padding-bottom: 30px;
  font-size: 18px;
}
ul {
  list-style: none;
}

ul li {
  border-bottom: 1px solid rgb(243, 229, 229);
  padding: 20px 20px;
  font-size: 18px;
}
.stroked {
  text-decoration: line-through;
  color: gray;
  cursor: pointer;
}
.fa-trash-o:hover {
  color: rgb(214, 0, 0);
}
.fa-check:hover {
  color: green;
  cursor: pointer;
}

li:hover {
  background: linear-gradient(to right, #e0e7ff, transparent);
  border-left: 4px solid rgba(0, 0, 225, 0.3);
  transition: background 0.3 ease-in-out;
  cursor: pointer;
}

.foot {
  padding: 23px;
  color: grey;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  .icon {
    display: none;
  }
}
